<html>
    <head></head>
    <body style="background-color:black;color:white;font-family: 'Helvetica', 'Arial', sans-serif;">

        <!-- Header -->
        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; padding: 0;">
            <tr><td align="center" style="padding-top:10px;"><img style="padding-bottom:20px;" src="http://i.imgur.com/szgJsQT.png" /></td></tr>
            <tr>
                <td style="padding:0px 10px 0px 10px;">
                    <h1><%= $config['email']['title'] %></h1>
                    <p><%= I18n.l Time.now.to_date, format: :long  %></p>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </table>

        <!-- New Episodes -->
        <% if new_episodes != [] %>
        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; padding: 0;">
            <tr><td colspan="2" style="padding-left:10px;"><h2 style="color:#7F0000;"><%= I18n.t :new_episodes  %>:</h2></td></tr>

            <% new_episodes.each do |episode| %>
            <tr>
                <td width="25%" style="padding-left:10px;"><img src="<%= episode[:image] %>" style="width: 130px; max-width: 100%;border: 2px solid white;"/></td>
                <td width="75%" style="padding:0px 10px 0px 10px;">
                    <h5 style="font-weight: normal; text-align: left; line-height: 1.3; color: white; word-break: normal; font-size: 24px; background: #000000; margin: 0; padding: 0;" align="left"><a href="<%= episode[:imdb] %>" style="color: #2ba6cb; text-decoration: none;"><%= episode[:series_name] %></a></h5>
                    <p><i><%= episode[:episode_number] %> - <%= episode[:title] %></i></p>
                    <p><%= episode[:synopsis] %></p>
                    <p><strong><%= I18n.t :network %>:</strong> <%= episode[:network] %><br /><strong><%= I18n.t :air_date %>:</strong> <%= episode[:airdate] %></p>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <% end %>
        </table>
        <% end %>

        <!-- New seasons -->
        <% if new_seasons != [] %>
        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; padding: 0;">
            <tr><td colspan="2" style="padding-left:10px;"><h2 style="color:#7F0000;"><%= I18n.t :new_seasons  %>:</h2></td></tr>

            <% new_seasons.each do |season| %>
            <tr>
                <td width="25%" style="padding-left:10px;"><img src="<%= season[:image] %>" style="width: 130px; max-width: 100%;border: 2px solid white;"/></td>
                <td width="75%" style="padding:0px 10px 0px 10px;">
                    <h5 style="font-weight: normal; text-align: left; line-height: 1.3; color: white; word-break: normal; font-size: 24px; background: #000000; margin: 0; padding: 0;" align="left"><a href="<%= season[:imdb] %>" style="color: #2ba6cb; text-decoration: none;"><%= season[:series_name] %></a></h5>
                    <p><i><%= I18n.t :seasons, count: season[:season].length %><%= season[:season].min %>-<%= season[:season].max %></i></p>
                    <p><%= season[:synopsis] %></p>
                    <p><strong><%= I18n.t :network %>:</strong> <%= season[:network] %></p>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <% end %>
        </table>
        <% end %>

        <!-- New Movies -->
        <% if movies != [] %>
        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; padding: 0;">
            <tr><td colspan="2" style="padding-left:10px;"><h2 style="color:#7F0000;"><%= I18n.t :new_movies %>:</h2></td></tr>

            <% movies.each do |movie| %>
            <tr>
                <td width="25%" style="padding-left:10px;"><img src="<%= movie[:image] %>" style="width: 130px; max-width: 100%;border: 2px solid white;"/></td>
                <td width="75%" style="padding:0px 10px 0px 10px;">
                    <h5 style="font-weight: normal; text-align: left; line-height: 1.3; color: white; word-break: normal; font-size: 24px; background: #000000; margin: 0; padding: 0;" align="left"><a href="<%= movie[:imdb] %>" style="color: #2ba6cb; text-decoration: none;"><%= movie[:title] %> (<%= movie[:date] %>)</a></h5>
                    <p><i><%= movie[:tagline] %></i></p>
                    <% if $options[:detail_email] %>
                    <p><strong><%= I18n.t :genre %>:</strong> <%= movie[:genre] %><br><strong><%= I18n.t :director %>:</strong> <%= movie[:director] %></br><br><strong><%= I18n.t :cast %>:</strong> <%= movie[:actors] %></br></p>
                    <% end %>

                    <p><%= movie[:synopsis] %></p>

                    <% if $options[:detail_email] %>
                    <p><strong><%= I18n.t :runtime %>:</strong> <%= movie[:runtime] %> <%= I18n.t :minutes %><br /><strong><%= I18n.t :release_date %>:</strong> <%= movie[:released] %><br /><strong><%= I18n.t :rating %>:</strong> <%= movie[:rating] %><br /><strong><%= I18n.t :imdb_rating %>:</strong> <%= movie[:imdb_rating] %>/10 <%= I18n.t :from %> <%= movie[:imdb_votes] %> <%= I18n.t :users %></p>
                    <% else %>
                    <p><strong><%= I18n.t :runtime %>:</strong> <%= movie[:runtime] %> <%= I18n.t :minutes %></p>
                    <% end %>
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
            <% end %>
        </table>
        <% end %>

        <!-- Footer -->
        <table style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 580px; padding: 0;">
            <tr>
                <td>
                    <p style="text-align: center; font-weight: normal; line-height: 19px;" align="center"><%= I18n.t :credits_sentence %></p>
                    <p style="text-align: center; font-weight: normal; line-height: 19px;" align="center"><%= I18n.t :help_page_sentence %></p>
                </td>
            </tr>
        </table>
    </body>
</html>
